{% extends 'base.html.twig' %}

{% block title %}À propos de nous{% endblock %}

{% block body %}
    {% include '_header.html.twig' %}

    <main class="uk-container uk-margin-top uk-margin-bottom uk-background-default uk-padding">
        <div class="uk-text-center">
            <h1 class="uk-heading-medium uk-margin-bottom">À propos de nous</h1>
            
            <p class="uk-text-center uk-width-large uk-margin-auto">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis porttitor posuere.
            </p>
        </div>
    </main>

    
{% endblock %}