{% extends 'base.html.twig' %}

{% block title %}FAQ{% endblock %}

{% block body %}
    
    
    <main class="uk-container uk-margin-top uk-margin-bottom">
        <h1>FAQ</h1>
        <p>Contenu de la FAQ...</p>
    </main>

    
{% endblock %}