{% extends 'base.html.twig' %}

{% block title %}Mentions Légales{% endblock %}

{% block body %}
    
    
    <main class="uk-container uk-margin-top uk-margin-bottom">
        <h1>Mentions Légales</h1>
        <p>Contenu des mentions légales...</p>
    </main>

    
{% endblock %}