/* Personnalisation du logo */
.uk-logo {
    font-size: 2rem;
    font-weight: bold;
    color: #9f4e4e;
}

/* Modification des boutons de navigation */
.uk-button-text {
    font-size: 1.2rem;
    color: red;
    transition: color 0.3s ease;
}

.uk-button-text:hover {
    color: #ffcc00; /* Couleur au survol */
    text-decoration: none;
}

/* Ajustement de la disposition des liens de navigation */
.nav-links {
    margin-top: 2rem;
    color: red;
}

/* Personnalisation de la vidéo de fond */
.video-background {
    opacity: 0.8; /* Ajustez l'opacité selon vos préférences */
}

/* Modification de la mise en page générale */
.uk-light {
    background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
}

/* Personnalisation du titre h1 */
h1 {
    font-size: 3rem;
    color: #351212;
    text-align: center;
    margin-bottom: 2rem;
}
