<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <section class="logo">
          <a id="logo" href="../../index.html">WE WANT ALL!</a>
        </section>
        <section class="links">
          <a href="../view/form.html">connexion</a>
          <a href="#">nouveautés</a>
          <a href="">A propos de nous </a>
        </section>
      </header>
    <main></main>
    <footer></footer>
</body>
</html>